@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
}
@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin align-center {
    display: flex;
    align-items: center;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin sidebar {
    
    overflow-x:hidden;
}