$root-color:#0091ff;
$dark-blue:#006edc;
$light-blue:#0082e5;
$icon-size: 28px;
$red-dot:#c31818;
$light-grey:#eaedf0;
$icon-primary:#7589a3;
$text-info:#005ae0;
$text-primary:#081c36;
$contact-hover:#f3f5f6;
$contact-active:#e1eafa;
$scroll-color:#bac4d1;
$tag-color-red:#d91b1b;
$button-close-hover:#dfe2e7;
$button-blue:#0068ff;
$span-font-size: .875rem